
<ul>
	<li>Geändertes Feld: <%= @field %></li>
	<li>Neuer Inhalt: <%= @new_content %> </li>
	<li>Felder mit folgenden IDs wurden geändert: <%= @checkmarks %></li>
</ul>

<%=link_to "Weitere Änderungen vornehmen", "index"%>
<%= link_to "reload", "" %>
<%#= @new_text %>

<%# @new_text.each do |text| %>
	<%#= text %>
<%# end %>
