
<% all_nr_links = 0 %>
<% links = Array.new() %>

<%# Sunmming nrExternalLinks %>
<% @response.documents.each do |object| -%>
	<% doc_presenter = index_presenter(object) %>
	<% all_nr_links += (doc_presenter.field_value "nrExternalLinks").to_i %>
<% end -%>

<div class="documents-list">
	<%# Headline %>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h4><%= t('blacklight.results.nrExternalLinks')%> (<%= all_nr_links %>):</h4>
		</div>
	</div>

	<%# List externalLinks per mahara view %>
	<div class="row">
		<div class="col-sm-12 col-md-12">

			<% @response.documents.each do |object| -%>
				<% doc_presenter = index_presenter(object) %>
				<div class="document">
					<div class="documentHeader row">
						<h5 class="document-title-heading col-md-12">
							
							<%# Author and title of view %>
							<% author = doc_presenter.field_value "author" %>
							<% title = doc_presenter.field_value "title" %>
							<% nr_links = (doc_presenter.field_value "nrExternalLinks").to_i %>
							<%= link_to "#{title} (#{author}) (#{nr_links})", "/catalog/#{doc_presenter.field_value 'id'}"%>
						</h5>
					</div>
				</div>

				<div class="document-metadata dl-horizontal dl-invert">

					<%# Listing links %>
					<% links = doc_presenter.field_value "externalLinks" %>
					<% unless links.empty? %>
						
						<%# Build hash: short_link - long_link %>
						<%# Hash is made for alphabetically sorted output %>
						<% links_hash = Hash.new %>
						<% links = links.split(",") %>
						<% links.each do |link| %>
							<% link.downcase! %>
							<% link.sub!("and", "") if link.include?("and") %>
							<% link.strip! %>
							<% link_short = link.sub("www.", "").sub("https://", "").sub("http://", "").sub("://", "").strip %>
							<% links_hash[link_short] = link %>
						<% end %>
						<% links_hash = links_hash.sort_by {|k,v| k} %>

						<ul>
							<% links_hash.each do |link_short, link| %>
								<li><%= link_to link_short, link, :target => '_blank' %></li>
							<% end %>
						</ul>
					<% else %>
						<%= content_tag(:p, "Keine externen Links in dieser Ansicht vorhanden") %>
					<% end %>
				</div>
			<% end -%>

		</div>
	</div>
</div>